.homeComponent {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 50px;

	.wrapper {
		max-width: 1200px;

		.leftAlign,
		.rightAlign {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.rightAlign {
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				color: black;
				font-size: 2rem;
			}

			button {
				border-radius: 20px;
				background-color: #1a73e8;
				color: white;
				box-shadow: 0px 10px 30px rgba(#1a73e8 , 0.4);
				padding-left: 20px;
				padding-right: 20px;

			}


			.google__sign{
				background-color: white;
				border-radius: 0px;
				color: black;
				border: 1px solid rgba(black , 0.1);
				transition: 0.3s all linear;

				span{
					font-size: 1.2rem;
					margin-left: 1.1rem;
				}

				&:hover{
					border-color: black;
				}
			}
		}
	}
}
